---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/HeaderInverted.astro';
import Footer from '../components/Footer.astro';
import Bullets from '../components/Bullets.astro';
import {BASE_URL_PREFIX} from '../consts';

type Props = CollectionEntry<'products'>['data'];

const {
	title, description, heroImage, who,
	when, how, ingridients, table, ozonLink,
	bullets, quants, flavors
} = Astro.props;

---
<html lang="ru">
	<head>
		<BaseHead title={title} description={description} />
	</head>
	<body>
		<Header />
		<main class="main">
			<div class="row">
				<div class="column">
					<img src={`${BASE_URL_PREFIX}/${heroImage}`} />
					<div class="mobile">
						<h1>{title}</h1>
						<Bullets class='bulletsSecond' bullets={bullets} type='circle'/>
						<p>{description}</p>
						<Bullets title='Вкусы' bullets={flavors} type='square'/>
						<Bullets class='bulletsSecond' title='Количество' bullets={quants} type='square'/>
						<div class="buyLink">
							<a class="ozonLink" href={ozonLink}>
								купить на озон
							</a>
						</div>
					</div>
					<div class="featureList">
						<div class="who bullet">
							<h2>Кому?</h2>
							<p class="textContent">{who}</p>
						</div>
						<div class="when bullet">
							<h2>Когда?</h2>
							<p class="textContent">{when}</p>
						</div>
						<div class="how bullet">
							<h2>Как?</h2>
							<p class="textContent">{how}</p>
						</div>
						<div class="ingridients bullet">
							<h2>Состав</h2>
							<p>{ingridients}</p>
						</div>
						<div class="table bullet">
							<h2>Кто есть кто?</h2>
							<div class="tableContent">
							{
								table.map(item => (
									<div class="tableRow">
										<p class="factor">{item.factor}</p>
										<p class="meaning">{item.meaning}</p>
									</div>
									<div class="line" />
								))
							}
							</div>
						</div>
					</div>
				</div>
				<div class="desktop meaning column info">
					<h1>{title}</h1>
					<Bullets class='bulletsSecond' bullets={bullets} type='circle'/>
					<p>{description}</p>
					<Bullets title='Вкусы' bullets={flavors} type='square'/>
					<Bullets class='bulletsSecond' title='Количество' bullets={quants} type='square'/>
					<div class="buyLink">
						<a class="ozonLink" href={ozonLink}>
							купить на озон
						</a>
					</div>
				</div>
			</div>
		</main>
		<Footer />
	</body>
	<style>
		p {
			font-weight: 400;
			font-size: 16px;
			color: #000;
		}

		h1 {
			font-weight: 400;
			font-size: 50px;
			line-height: 87%;
			letter-spacing: -0.03em;
			color: #3f1a05;
		}

		.bulletsSecond {
			margin-top: 26px;
		}

		.ozonLink {
			width: 100%;
			background: #fa742c;
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 16px 0;

			font-weight: 500;
			font-size: 18px;
			letter-spacing: 0.08em;
			text-transform: uppercase;
			color: #f7f3df;
		}

		.factor {
			display: block;
			min-width: 110px;
		}

		.line {
			background: rgba(63, 26, 5, 0.2);
			height: 1px;
		}

		.meaning {
			margin-left: 10px;
		}

		.main {
			margin-top: 20px;
			padding: 0 20px;
		}

		.textContent {
			max-width: 400px;
		}

		.column {
			display: flex;
			flex-direction: column;
			flex-basis: 100%;
			flex: 1;
		}

		.row {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			width: 100%;
		}

		.tableRow {
			display: flex;
		}

		.tableContent {
			margin-top: 30px;
		}

		.bullet {
			margin-top: 23px;
			padding: 12px;

			p, h2 {
				color: #3F1A05;
			}
		}

		.who {
			background-color: #BAFFE0;
		}

		.when {
			background-color: #FFBAF1;
		}

		.how {
			background-color: #FFC481;
		}

		.info {
			margin-left: 20px;
			flex: 0.35;
		}

		.buyLink {
			margin-top: 32px;
		}

		.desktop {
			display: none;
		}

		.mobile {
			margin-top: 15px;
		}

		@media (min-width: 720px) {
			.buyLink {
				margin-top: 68px;
			}

			.desktop {
				display: block;
			}

			.mobile {
				display: none;
			}

			.main {
				max-width: 1520px;
				padding: 0 60px;
			}

			.buyLink {
				margin-top: 68px;
			}
		}
	</style>
</html>
